import(methods)
importClassesFrom(Biobase, eSet)
importMethodsFrom(Biobase, exprs)
importFrom(graphics, abline, legend, plot, points)
importFrom(grDevices, dev.off, pdf)
importFrom(stats, cor, qnorm, quantile, sd)
exportPattern("^[[:alpha:]]+")
exportMethods(CNM.full, CNM.simple, getsGLA, getsLA, GLA, LA, plotGLA)
